body{
    background-color: rgb(143, 185, 171);
    font: normal 12px italic;
}
fieldset{
    background-color: whitesmoke;
    opacity: 1em;
    width: 225px;
    margin:auto;
    border-radius: 9px;
    font-size: 1.3em;
}
.enviar{
    padding: 3px;
    margin-left: 60px;
}
.pedido{
    text-align: center;
    width: 300px;
    height: 60px;  
}
.nome{
    text-align: center;
    width: 300px;
}
.endereço{
    text-align: center;
    width: 300px;
    height: 30px;
}
h4{
    text-align: center;
    font-size: 1.3em;
}
